@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

p,
h1 {
  text-align: center;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
